<% topic_list(list_opts: { order: 'date', category: 'news', no_definitions: true }, opts: { instance_var: "news"}) %>

<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
					<ul class="menu">
						<% @menu.items.each do |item| %>
							<li class="primary-item">
								<a href="<%= item[:href] %>" class="primary-item-link">
									<label><%= item[:label] %></label>
									<%- unless mobile_view? %>
										<%- if item[:items] %>
											<span class="down"><%= SvgSprite.raw_svg('angle-down') %></span>
											<span class="up"><%= SvgSprite.raw_svg('angle-up') %></span>
										<%- end %>
									<%- end %>
								</a>
								<%- if item[:items] %>
									<div class="corporate-menu-dropdown">
										<ul class="corporate-menu-item-list">
											<% item[:items].each do |item| %>
												<li class="item <%= 'coming-soon' if item[:coming_soon] %>">
													<a href="<%= item[:href] unless item[:coming_soon] %>" class="<%= item[:label].parameterize %>">
														<div class="content">
															<div class="right">
																<div class="label"><%= item[:label] %></div>
															</div>
															<%- if item[:items] %>
																<ul class="item-list">
																	<% item[:items].each do |item| %>
																		<a href="<%= item[:href] %>" class="<%= item[:label].dasherize.downcase %>">
																			<div class="label"><%= item[:label] %></div>
																		</a>
																	<% end %>
																</ul>
															<%- end %>
														</div>
													</a>
												</li>
											<% end %>
										</ul>
									</div>
								<%- end %>
							</li>
						<% end %>
					</ul>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Access the channels
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Create an account
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="landing page">
  <div class="container">
    <div class="title-container">
      <h1>Sharewoods</h1>
    </div>
    <div class="text-container">
      <div class="secondary-text">
        Our mission is to help investor relations save time and implement international best practices
      </div>
			<div class="buttons" style="padding:20px">
        <% if not current_user %>
            <div style="display:flex;flex-direction: column;">
                <span style="width: 100%;">You need an account to answer publicly.</span>
                <div style="display:flex;flex-direction:rows;margin:auto">
                    <a href="/login" target="_blank" class="btn btn-primary" style="margin:5px">
                      Create an account
                    </a>
                    <a href="/" target="_blank" class="btn btn-primary" style="margin:5px">
                      Access the channels
                    </a>
                </div>
            </div>
        <% elsif not current_user and not current_user.groups.where('fkwds-sh') %>
            <div style="display:flex;flex-direction: column;">
                <span style="width: 100%;">You need to be a shareholder to access the shareholder channel.</span>
                <div style="display:flex;flex-direction:rows;margin:auto">
                    <a href="/login" target="_blank" class="btn btn-primary" style="margin:5px">
                      Join the Shareholder Channel
                    </a>
                </div>
            </div>
        <% else %>
            <div style="display:flex;flex-direction: column;">
                <span style="width: 100%;">Come Talk</span>
                <div style="display:flex;flex-direction:rows;margin:auto">
                    <a href="/login" target="_blank" class="btn btn-primary" style="margin:5px">
                      Shareholders' channel
                    </a>
                </div>
            </div>
        <% end %>
      </div>
  	</div>
	</div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large club-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>The Shareholders' Club</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>A place to discuss and learn about how we are changing the world.</li>
					<li>Access exlusive shareholder rewards.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/club" class="btn btn-primary btn-cta">Club Presentation</a>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large news-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Our Latest News</span>
      </div>
			<ul class="item-list" style="display:flex;flex-direction:row;">
			  <% @news.first(3).each do |article| %>
			    <li style="display: flex; margin:10px">
			      <a href="<%= article.url %>" class="item" target="_blank">
			        <div class="item-title">
								<%= short_date(article.created_at) %><br>
			          <%= emoji_codes_to_img(article.fancy_title) %>
			        </div>
			        <% if article.image_url.present? %>
			          <div class="item-image">
			            <img src="<%= article.image_url %>" />
			          </div>
			        <% end %>
			      </a>
			    </li>
			  <% end %>
			</ul>
      <div class="secondary-text">
        <ul>
					<li>Follow our news.</li>
					<li>Come give your opinion and ask questions.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/news" class="btn btn-primary btn-cta">Check out all our latest news.</a>
    </div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Our Financial Profile</span>
      </div>
      <div class="secondary-text">
				A space to better understand our financial opportunity, the challenges that we face and how we are changing the world.
      </div>
    </div>
    <div class="buttons">
      <a href="/profile" class="btn btn-primary btn-cta">View our financial profile</a>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large ressources-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Ressources</span>
      </div>
      <div class="secondary-text">
				Our public resources.
				<ul>
					<li>Frequently asked questions.</li>
					<li>Our glossary of technical terms.</li>
					<li>Our financial calendar.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/ressources" class="btn btn-primary btn-cta">See our resources</a>
    </div>
  </div>
</div>


<div class="custom-footer">
	<div>
	  <div class="flexbox">
	    <div class="ft-company-box">
	      <div class="ft-company-logo">
					<%- if SiteSetting.logo_dark.present? %>
						<img src="<%= SiteSetting.logo_dark %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- elsif SiteSetting.logo.present? %>
						<img src="<%= SiteSetting.logo %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- end %>
	      </div>
				<div class="ft-company-social">
					<a class="social-link linkedin" title="Follow us on LinkedIn" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-linkedin') %></a>
	        <a class="social-link facebook" title="Follow us on Facebook" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-facebook') %></a>
	        <a class="social-link twitter" title="Follow us on Twitter" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-twitter') %></a>
	        <a class="social-link youtube" title="Follow us on Youtube" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-youtube') %></a>
	      </div>
	    </div>
			<div class="ft-legal-box">
				<%- if @menu.present? %>
		      <ul class="menu">
		        <% @menu.items.each do |item| %>
		          <li class="primary-item">
		            <a href="<%= item[:href] %>" class="primary-item-link" style="color:#fff">
		              <label><%= item[:label] %></label>
		            </a>
		            <%- if item[:items] %>
		              <ul class="secondary-items">
		                <% item[:items].each do |item| %>
		                  <li class="item <%= 'coming-soon' if item[:coming_soon] %>">
		                    <a href="<%= item[:href] unless item[:coming_soon] %>" class="<%= item[:label].parameterize %>" style="color:#fff">
		                      <%= item[:label] %>
		                    </a>
		                  </li>
		                <% end %>
		              </ul>
		            <%- end %>
		          </li>
		        <% end %>
		      </ul>
		    <%- end %>
			</div>
	    <div class="ft-legal-box">
	      <div class="legal-links">
					<div class="legal-links">
            <a class="small-link privacy-policy" target="" href="#">Privacy Policy</a>
            <a class="small-link user-agreement" target="" href="#">User Agreement</a>
            <a class="small-link about" target="" href="#">About</a>
        	</div>
	      </div>
	    </div>
			<div class="ft-sharewoods-box">
				<div style="text-align:center;color:grey;width:100%;font-size:18px;margin-top:20px">
					Powered by Sharewoods
				</div>
			</div>
	  </div>
	</div>
</div>
