<header class="landing-header">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" target="_blank" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              <%= I18n.t('landing_pages.go_to_forum') %>
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              <%= I18n.t('log_in') %>
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="landing page">
  <div class="container">
    <div class="title-container">
      <h1>Enertime, la cleantech française qui décarbone l’industrie mondiale</h1>
    </div>
    <div class="text-container">
      <div class="secondary-text" style="color:green">
        Notre mission : lutter contre le réchauffement climatique en développant des solutions innovantes autour de la thermodynamique pour la production d’énergie sans CO2, l’efficacité énergétique industrielle et l’économie circulaire.
      </div>
  	</div>
	</div>
</div>

<div class="page first">
  <div class="container">
    <div class="scene-container">
      <div class="scene large club-scene"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Le Club des Actionnaires</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>Un espace d'échange pour appréhender nos technologies et nos progrès.</li>
					<li>Des privilèges actionnaires exclusifs.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/club" class="btn btn-primary btn-cta">Présentation du Club</a>
    </div>
  </div>
</div>

<div class="page second">
  <div class="container">
    <div class="scene-container">
      <div class="scene large news-scene"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Nos Actualités</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>Suivez nos actualités</li>
					<li>Venez donner votre avis et posez vos questions</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/news" class="btn btn-primary btn-cta">Consultez nos actualités.</a>
    </div>
  </div>
</div>

<div class="page third">
  <div class="container">
    <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Notre Profile Financier</span>
      </div>
      <div class="secondary-text">
				Un espace pour mieux appréhender notre opportunité financière, les enjeux de notre industrie et comment nous allons décarboniser le monde.
      </div>
    </div>
    <div class="buttons">
      <a href="/profile" class="btn btn-primary btn-cta">Voir notre profil financier</a>
    </div>
  </div>
</div>

<div class="page fourth">
  <div class="container">
    <div class="scene-container">
      <div class="scene large ressources-scene"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Ressources</span>
      </div>
      <div class="secondary-text">
				Nos ressources grands publics.
				<ul>
					<li>Des questions et réponses fréquentes.</li>
					<li>Notre glossaire de termes techniques.</li>
					<li>Notre calendrier financier.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/ressources" class="btn btn-primary btn-cta">Voir nos ressources</a>
    </div>
  </div>
</div>
