<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Access the channels
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Create an account
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="landing page">
  <div class="container">
    <div class="title-container">
      <h1>Sharewoods</h1>
			<h2>the future of Investor Relations</h2>
    </div>
    <div class="text-container">
      <div class="secondary-text" style="color:green">
        Our mission is to help investor relations save time and implement international best practices
      </div>
			<div class="buttons" style="padding:20px">
        <% if not current_user %>
            <div style="display:flex;flex-direction: column;">
                <span style="width: 100%;">You need an account to answer publicly.</span>
                <div style="display:flex;flex-direction:rows;margin:auto">
                    <a href="/login" target="_blank" class="btn btn-primary" style="margin:5px">
                      Create an account
                    </a>
                    <a href="/" target="_blank" class="btn btn-primary" style="margin:5px">
                      Access the channels
                    </a>
                </div>
            </div>
        <% elsif not current_user and not current_user.groups.where('fkwds-sh') %>
            <div style="display:flex;flex-direction: column;">
                <span style="width: 100%;">You need to be a shareholder to access the shareholder channel.</span>
                <div style="display:flex;flex-direction:rows;margin:auto">
                    <a href="/login" target="_blank" class="btn btn-primary" style="margin:5px">
                      Join the Shareholder Channel
                    </a>
                </div>
            </div>
        <% else %>
            <div style="display:flex;flex-direction: column;">
                <span style="width: 100%;">Come Talk</span>
                <div style="display:flex;flex-direction:rows;margin:auto">
                    <a href="/login" target="_blank" class="btn btn-primary" style="margin:5px">
                      Shareholders' channel
                    </a>
                </div>
            </div>
        <% end %>
      </div>
  	</div>
	</div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large club-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>The Shareholders' Club</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>A place to discuss and learn about how we are changing the world.</li>
					<li>Access exlusive shareholder rewards.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/club" class="btn btn-primary btn-cta">Club Presentation</a>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large news-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Our News</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>Follow our news.</li>
					<li>Come give your opinion and ask questions.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/news" class="btn btn-primary btn-cta">Check out our latest news.</a>
    </div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Our Financial Profile</span>
      </div>
      <div class="secondary-text">
				A space to better understand our financial opportunity, the challenges that we face and how we are changing the world.
      </div>
    </div>
    <div class="buttons">
      <a href="/profile" class="btn btn-primary btn-cta">View our financial profile</a>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large ressources-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Ressources</span>
      </div>
      <div class="secondary-text">
				Our public resources.
				<ul>
					<li>Frequently asked questions.</li>
					<li>Our glossary of technical terms.</li>
					<li>Our financial calendar.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/ressources" class="btn btn-primary btn-cta">See our resources</a>
    </div>
  </div>
</div>


<div class="custom-footer">
	<div>
	  <div class="flexbox">
	    <div class="ft-company-box">
	      <div class="ft-company-logo">
					<%- if SiteSetting.logo_dark.present? %>
						<img src="<%= SiteSetting.logo_dark %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- elsif SiteSetting.logo.present? %>
						<img src="<%= SiteSetting.logo %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- end %>
	      </div>
				<div class="ft-company-social">
					<!-- <a class="social-link linkedin" title="Follow us on LinkedIn" target="_blank" href="#"><svg class="fa d-icon d-icon-fab-linkedin svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#fab-linkedin"></use></svg></a>
	        <a class="social-link facebook" title="Follow us on Facebook" target="_blank" href="#"><svg class="fa d-icon d-icon-fab-facebook svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#fab-facebook"></use></svg></a>
	        <a class="social-link twitter" title="Follow us on Twitter" target="_blank" href="#"><svg class="fa d-icon d-icon-fab-twitter svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#fab-twitter"></use></svg></a>
	        <a class="social-link youtube" title="Follow us on Youtube" target="_blank" href="#"><svg class="fa d-icon d-icon-fab-youtube svg-icon svg-string" xmlns="http://www.w3.org/2000/svg"><use xlink:href="#fab-youtube"></use></svg></a> -->
	      </div>
	    </div>
			<div class="ft-legal-box">
				<%- if @menu.present? %>
		      <ul class="menu">
		        <% @menu.items.each do |item| %>
		          <li class="primary-item">
		            <a href="<%= item[:href] %>" class="primary-item-link">
		              <label><%= item[:label] %></label>
		            </a>
		            <%- if item[:items] %>
		              <ul class="secondary-items">
		                <% item[:items].each do |item| %>
		                  <li class="item <%= 'coming-soon' if item[:coming_soon] %>">
		                    <a href="<%= item[:href] unless item[:coming_soon] %>" class="<%= item[:label].parameterize %>" style="color:#fff">
		                      <%= item[:label] %>
		                    </a>
		                  </li>
		                <% end %>
		              </ul>
		            <%- end %>
		          </li>
		        <% end %>
		      </ul>
		    <%- end %>
			</div>
	    <div class="ft-legal-box">
	      <div class="legal-links">
	      </div>
	    </div>
			<div class="ft-sharewoods-box">
				<div style="text-align:center;color:grey;width:100%;font-size:18px;margin-top:20px">
					Powered by Sharewoods
				</div>
			</div>
	  </div>
	</div>
</div>
