<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Access the channels
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Create an account
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="landing page">
  <div class="container">
    <div class="title-container">
      <h1>Sharewoods, the future of Investor Relations</h1>
    </div>
    <div class="text-container">
      <div class="secondary-text" style="color:green">
        Our mission is to help investor relations implement international best practices while saving them time.
      </div>
			<div class="buttons" style="padding:20px">
        <% if not current_user %>
            <div style="display:flex;flex-direction: column;">
                <span style="width: 100%;">You need an account to answer publicly.</span>
                <div style="display:flex;flex-direction:rows;margin:auto">
                    <a href="/login" target="_blank" class="btn btn-primary" style="margin:5px">
                      Create an account
                    </a>
                    <a href="/" target="_blank" class="btn btn-primary" style="margin:5px">
                      Access the channels
                    </a>
                </div>
            </div>
        <% elsif not current_user and not current_user.groups.where('fkwds-sh') %>
            <div style="display:flex;flex-direction: column;">
                <span style="width: 100%;">You need to be a shareholder to access the shareholder channel.</span>
                <div style="display:flex;flex-direction:rows;margin:auto">
                    <a href="/login" target="_blank" class="btn btn-primary" style="margin:5px">
                      Join the Shareholder Channel
                    </a>
                </div>
            </div>
        <% else %>
            <div style="display:flex;flex-direction: column;">
                <span style="width: 100%;">Come Talk</span>
                <div style="display:flex;flex-direction:rows;margin:auto">
                    <a href="/login" target="_blank" class="btn btn-primary" style="margin:5px">
                      Shareholders' channel
                    </a>
                </div>
            </div>
        <% end %>
      </div>
  	</div>
	</div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large club-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>The Shareholders' Club</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>A place to discuss and learn about how we are changing the world.</li>
					<li>Access exlusive shareholder rewards.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/club" class="btn btn-primary btn-cta">Club Presentation</a>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large news-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Our News</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>Follow our news.</li>
					<li>Come give your opinion and ask questions.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/news" class="btn btn-primary btn-cta">Check out our latest news.</a>
    </div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Our Financial Profile</span>
      </div>
      <div class="secondary-text">
				Un espace pour mieux appréhender notre opportunité financière, les enjeux de notre industrie et comment nous allons décarboniser le monde.
      </div>
    </div>
    <div class="buttons">
      <a href="/profile" class="btn btn-primary btn-cta">Voir notre profil financier</a>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large ressources-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Ressources</span>
      </div>
      <div class="secondary-text">
				Nos ressources grands publics.
				<ul>
					<li>Des questions et réponses fréquentes.</li>
					<li>Notre glossaire de termes techniques.</li>
					<li>Notre calendrier financier.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/ressources" class="btn btn-primary btn-cta">Voir nos ressources</a>
    </div>
  </div>
</div>
