<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Access the channels
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Create an account
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<% if current_user %>
  <% set_category_user('financial-profile') %>
<% end %>

<% get_topic_view('overview', opts: { include_suggested: false, include_related: false, post_number: 1 }, instance_var: "overview", set_page_title: true) %>
<% get_topic_view('industry', opts: { include_suggested: false, include_related: false, post_number: 1 }, instance_var: "industry", set_page_title: true) %>

<div <% unless mobile_view? %> <% end %> style="padding-top:200px">
    <% if @overview.present? %>
        <a class="btn btn-primary" href="#overview">Overview</a>
    <% end %>
    <% if @industry.present? %>
        <a class="btn btn-primary" href="#industry">Industry</a>
    <% end %>
</div>

<div class="title-container" <% unless mobile_view? %> <% end %>>
    <h1 style="padding-top:150px; color:white;">Financial Profile</h1>
</div>

<div class="contents" style="flex-direction:column">
	<% if @overview.present? %>
		<article id="overview" class="topic-list-item post" data-topic-id="<%= @overview.topic.id %>" style="padding-top:150px;width:90%">
		  <div class="contents" style="border:2px solid <%= $primary %>;">
		    <div class="topic-details">
		      <a class="topic-link" href="<%= @overview.topic.url %>" style="flex:1">
		        <div class="topic-meta" style="padding-bottom:20px;border-bottom:1px solid black;">
				<section class="topic-byline">
				  <div class="date" title="<%= short_date(@overview.topic.updated_at) %>">
				    Updated: <%= short_date(@overview.topic.updated_at) %>
				  </div>
				    <a class="link" href="<%= @overview.topic.url %>" target="_blank">
                        <i><%= SvgSprite.raw_svg('far-comments') %></i>
                        <span>Channel Topic</span>
                    </a>
				</section>
		      </div>
		        <div class="header">
		          <h2 class="topic-title">
		            <%= emoji_codes_to_img(@overview.topic.fancy_title) %>
		          </h2>
		        </div>
		      </a>
		      <div class="text-container" style="text-align:left;align-items:start;width:100%">
		        <%= ::LandingPages::Post.html(@overview.posts.first).html_safe %>
		      </div>
		    </div>
		  </div>
		</article>
	<% end %>

	<% if @industry.present? %>
		<article id="industry" class="topic-list-item post" data-topic-id="<%= @industry.topic.id %>" style="width:90%;padding-top:20px;">
		  <div class="contents" style="border:2px solid <%= $primary %>;">
		    <div class="topic-details">
		      <a class="topic-link" href="<%= @industry.topic.url %>" style="flex:1">
		        <div class="topic-meta" style="padding-bottom:20px;border-bottom:1px solid black;">
							<section class="topic-byline">
							  <div class="date" title="<%= short_date(@industry.topic.updated_at) %>">
							    Updated: <%= short_date(@industry.topic.updated_at) %>
							  </div>
							    <a class="link" href="<%= @industry.topic.url %>" target="_blank">
			                <i><%= SvgSprite.raw_svg('far-comments') %></i>
			                <span>Channel Topic</span>
			            </a>
							</section>
		      	</div>
		        <div class="header">
		          <h2 class="topic-title">
		            <%= emoji_codes_to_img(@industry.topic.fancy_title) %>
		          </h2>
		        </div>
		      </a>
		      <div class="text-container" style="text-align:left;align-items:start;width:100%">
		        <%= ::LandingPages::Post.html(@industry.posts.first).html_safe %>
		      </div>
		    </div>
		  </div>
		</article>
	<% end %>
</div>

<div class="btn btn-fixed btn-subscribe <% if current_user %>user<% else %>guest<% end %>" title="Subscribe">
  <% if current_user %>
    <img class="fixed-avatar" src="<%= current_user.avatar_template_url.gsub("{size}", "65") %>">
  <% else %>
    <div class="fixed-icon"><%= SvgSprite.raw_svg('user-circle') %></div>
  <% end %>
  <% unless mobile_view? %>
    <div class="fixed-label">Subscribe</div>
  <% end %>
</div>

<% if current_user && @category_user.present? %>
  <%= render partial: 'modal', locals: {
    title: "Subscribe",
    class: "subscribe",
    content: render(partial: "subscription_form", locals: {
      category_id: @category_user.category.id,
      subscribed: (@category_user &&
        @category_user.notification_level >= CategoryUser.notification_levels[:watching_first_post]
      )
    })
  } %>
<% end %>

<div class="custom-footer">
	<div>
	  <div class="flexbox">
	    <div class="ft-company-box">
	      <div class="ft-company-logo">
					<%- if SiteSetting.logo_dark.present? %>
						<img src="<%= SiteSetting.logo_dark %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- elsif SiteSetting.logo.present? %>
						<img src="<%= SiteSetting.logo %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- end %>
	      </div>
				<div class="ft-company-social">
					<a class="social-link linkedin" title="Follow us on LinkedIn" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-linkedin') %></a>
	        <a class="social-link facebook" title="Follow us on Facebook" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-facebook') %></a>
	        <a class="social-link twitter" title="Follow us on Twitter" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-twitter') %></a>
	        <a class="social-link youtube" title="Follow us on Youtube" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-youtube') %></a>
	      </div>
	    </div>
			<div class="ft-legal-box">
				<%- if @menu.present? %>
		      <ul class="menu">
		        <% @menu.items.each do |item| %>
		          <li class="primary-item">
		            <a href="<%= item[:href] %>" class="primary-item-link" style="color:#fff">
		              <label><%= item[:label] %></label>
		            </a>
		            <%- if item[:items] %>
		              <ul class="secondary-items">
		                <% item[:items].each do |item| %>
		                  <li class="item <%= 'coming-soon' if item[:coming_soon] %>">
		                    <a href="<%= item[:href] unless item[:coming_soon] %>" class="<%= item[:label].parameterize %>" style="color:#fff">
		                      <%= item[:label] %>
		                    </a>
		                  </li>
		                <% end %>
		              </ul>
		            <%- end %>
		          </li>
		        <% end %>
		      </ul>
		    <%- end %>
			</div>
	    <div class="ft-legal-box">
	      <div class="legal-links">
					<div class="legal-links">
            <a class="small-link privacy-policy" target="" href="#">Privacy Policy</a>
            <a class="small-link user-agreement" target="" href="#">User Agreement</a>
            <a class="small-link about" target="" href="#">About</a>
        	</div>
	      </div>
	    </div>
			<div class="ft-sharewoods-box">
				<div style="text-align:center;color:grey;width:100%;font-size:18px;margin-top:20px">
					Powered by Sharewoods
				</div>
			</div>
	  </div>
	</div>
</div>
