<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Accéder au Forum
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Créer un compte
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<% if current_user %>
  <% set_category_user('financial-profile') %>
<% end %>

<div class="contents">
  <%= topic_list(
    opts: {
      render_list: true
    },
    list_opts: {
      category: 'financial-profile',
      no_definitions: true,
      per_page: 10,
      page: params[:page]
    },
    item_opts: {
      # excerpt_length: 30,
      include_avatar: false,
      profile_details: !mobile_view?,
      avatar_size: 60
    }
  )%>
</div>

<div class="btn btn-fixed btn-subscribe <% if current_user %>user<% else %>guest<% end %>" title="Subscribe">
  <% if current_user %>
    <img class="fixed-avatar" src="<%= current_user.avatar_template_url.gsub("{size}", "65") %>">
  <% else %>
    <div class="fixed-icon"><%= SvgSprite.raw_svg('user-circle') %></div>
  <% end %>
  <% unless mobile_view? %>
    <div class="fixed-label">Souscrire</div>
  <% end %>
</div>

<% if current_user && @category_user.present? %>
  <%= render partial: 'modal', locals: {
    title: "Subscribe",
    class: "subscribe",
    content: render(partial: "subscription_form", locals: {
      category_id: @category_user.category.id,
      subscribed: (@category_user &&
        @category_user.notification_level >= CategoryUser.notification_levels[:watching_first_post]
      )
    })
  } %>
<% end %>
