<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
					<ul class="menu">
						<% @menu.items.each do |item| %>
							<li class="primary-item">
								<a href="<%= item[:href] %>" class="primary-item-link">
									<label><%= item[:label] %></label>
									<%- unless mobile_view? %>
										<%- if item[:items] %>
											<span class="down"><%= SvgSprite.raw_svg('angle-down') %></span>
											<span class="up"><%= SvgSprite.raw_svg('angle-up') %></span>
										<%- end %>
									<%- end %>
								</a>
								<%- if item[:items] %>
									<div class="menu-dropdown">
										<ul class="menu-item-list">
											<% item[:items].each do |item| %>
												<li class="item <%= 'coming-soon' if item[:coming_soon] %>">
													<a href="<%= item[:href] unless item[:coming_soon] %>" class="<%= item[:label].parameterize %>">
														<div class="content">
															<div class="right">
																<div class="label"><%= item[:label] %></div>
															</div>
															<%- if item[:items] %>
																<ul class="item-list">
																	<% item[:items].each do |item| %>
																		<a href="<%= item[:href] %>" class="<%= item[:label].dasherize.downcase %>">
																			<div class="label"><%= item[:label] %></div>
																		</a>
																	<% end %>
																</ul>
															<%- end %>
														</div>
													</a>
												</li>
											<% end %>
										</ul>
									</div>
								<%- end %>
							</li>
						<% end %>
					</ul>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Access the channels
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Create an account
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="landing page software">
  <div class="container">
    <div class="title-container">
      <h1>Shareholder Rewards</h1>
    </div>
		<div class="text-container">
      <div class="secondary-text" style="color:green; text-align:center;">
				As a loyal shareholder you deserve our rewards.
      </div>
			<div class="buttons" style="padding:20px">
	      <a href="#" class="btn btn-primary btn-cta">I Want To Join the Club</a>
	    </div>
  	</div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large club-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Shareholder Letter</span>
      </div>
      <div class="secondary-text">
				A digital quarterly newsletter just for our shareholders. You can unsubscribe anytime you would like and access the newsletter in our Club archives.
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large news-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>The Shareholder Channel</span>
      </div>
      <div class="secondary-text">
				It is a meeting place for all of our shareholders as well as our investor relations team.
				It is a premium space to share and discuss and the perfect place to ask questions about Sharewoods.
      </div>
    </div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
			<div class="primary-text">
        <span>Our Exclusive Rewards</span>
      </div>
      <div class="secondary-text">
				<ul>
					<li>10 - 100 shares: subscribe to our holiday postcard service and access the shareholder store where you can purchase exclusive company items.</li>
					<li>100 - 200 shares: Receive a special goodies package. </li>
					<li>200 - 300 shares: You can request to visit our headquarters where the magic happens.</li>
					<li>300 - 500 shares: You can request to meet the founders for lunch or dinner.</li>
					<li>500+ shares: Our special shareholders are invited for a unique once a year special event.</li>
					<li>Other exclusive rewards are available based on your participation to the Club.</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/profile" class="btn btn-primary btn-cta">Join the Club</a>
    </div>
  </div>
</div>

<div class="custom-footer">
	<div>
	  <div class="flexbox">
	    <div class="ft-company-box">
	      <div class="ft-company-logo">
					<%- if SiteSetting.logo_dark.present? %>
						<img src="<%= SiteSetting.logo_dark %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- elsif SiteSetting.logo.present? %>
						<img src="<%= SiteSetting.logo %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- end %>
	      </div>
				<div class="ft-company-social">
					<a class="social-link linkedin" title="Follow us on LinkedIn" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-linkedin') %></a>
	        <a class="social-link facebook" title="Follow us on Facebook" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-facebook') %></a>
	        <a class="social-link twitter" title="Follow us on Twitter" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-twitter') %></a>
	        <a class="social-link youtube" title="Follow us on Youtube" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-youtube') %></a>
	      </div>
	    </div>
			<div class="ft-legal-box">
				<%- if @menu.present? %>
		      <ul class="menu">
		        <% @menu.items.each do |item| %>
		          <li class="primary-item">
		            <a href="<%= item[:href] %>" class="primary-item-link" style="color:#fff">
		              <label><%= item[:label] %></label>
		            </a>
		            <%- if item[:items] %>
		              <ul class="secondary-items">
		                <% item[:items].each do |item| %>
		                  <li class="item <%= 'coming-soon' if item[:coming_soon] %>">
		                    <a href="<%= item[:href] unless item[:coming_soon] %>" class="<%= item[:label].parameterize %>" style="color:#fff">
		                      <%= item[:label] %>
		                    </a>
		                  </li>
		                <% end %>
		              </ul>
		            <%- end %>
		          </li>
		        <% end %>
		      </ul>
		    <%- end %>
			</div>
	    <div class="ft-legal-box">
	      <div class="legal-links">
					<div class="legal-links">
            <a class="small-link privacy-policy" target="" href="#">Privacy Policy</a>
            <a class="small-link user-agreement" target="" href="#">User Agreement</a>
            <a class="small-link about" target="" href="#">About</a>
        	</div>
	      </div>
	    </div>
			<div class="ft-sharewoods-box">
				<div style="text-align:center;color:grey;width:100%;font-size:18px;margin-top:20px">
					Powered by Sharewoods
				</div>
			</div>
	  </div>
	</div>
</div>
