<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Accéder au Forum
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Créer un compte
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="landing page software">
  <div class="container">
    <div class="title-container">
      <h1>Les Privilèges des Actionnaires</h1>
    </div>
		<div class="text-container">
      <div class="secondary-text" style="color:green; text-align:center;">
        C'est autant un privilège pour nous de vous avoir en tant qu'actionnaire que pour vous d'être actionnaire chez nous.
      </div>
			<div class="buttons" style="padding:20px">
	      <a href="#" class="btn btn-primary btn-cta">Je Veux Rejoindre le Club</a>
	    </div>
  	</div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large club-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>La Lettre aux Actionnaires</span>
      </div>
      <div class="secondary-text">
        Une lettre numérique réservé aux actionnaires. Vous la recevez par mail tous les semestres.
				Vous pouvez vous désabonner de la liste d'envoi et accéder à la liste des lettres dans le Club.
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large news-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Le Forum des Actionnaires</span>
      </div>
      <div class="secondary-text">
        C'est le lieu de rassemblement de tous nos actionnaires ainsi que notre équipe des relations investisseurs.
				C'est un lieu privilégié à la discussion et la communication et l'endroit idéal pour vous pour nous poser des questions et discuter avec les autres actionnaires de la société.
      </div>
    </div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
			<div class="primary-text">
        <span>Nos Offres Exclusives</span>
      </div>
      <div class="secondary-text">
				<ul>
					<li>Visite du site Enertime à Courbevoie</li>
					<li>Rencontrez nos équipes</li>
					<li>Petit déjeuner avec le PDG Gilles DAVID</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/profile" class="btn btn-primary btn-cta">Rejoindre le Club</a>
    </div>
  </div>
</div>
