<header id="header" class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
					<ul class="menu">
						<% @menu.items.each do |item| %>
							<li class="primary-item">
								<a href="<%= item[:href] %>" class="primary-item-link">
									<label><%= item[:label] %></label>
									<%- unless mobile_view? %>
										<%- if item[:items] %>
											<span class="down"><%= SvgSprite.raw_svg('angle-down') %></span>
											<span class="up"><%= SvgSprite.raw_svg('angle-up') %></span>
										<%- end %>
									<%- end %>
								</a>
								<%- if item[:items] %>
									<div class="menu-dropdown">
										<ul class="menu-item-list">
											<% item[:items].each do |item| %>
												<li class="item <%= 'coming-soon' if item[:coming_soon] %>">
													<a href="<%= item[:href] unless item[:coming_soon] %>" class="<%= item[:label].parameterize %>">
														<div class="content">
															<div class="right">
																<div class="label"><%= item[:label] %></div>
															</div>
															<%- if item[:items] %>
																<ul class="item-list">
																	<% item[:items].each do |item| %>
																		<a href="<%= item[:href] %>" class="<%= item[:label].dasherize.downcase %>">
																			<div class="label"><%= item[:label] %></div>
																		</a>
																	<% end %>
																</ul>
															<%- end %>
														</div>
													</a>
												</li>
											<% end %>
										</ul>
									</div>
								<%- end %>
							</li>
						<% end %>
					</ul>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Access the channels
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Create an account
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<% if current_user %>
  <% set_category_user('faq') %>
<% end %>

<% topic_list(list_opts: { order: 'date', category: 'faq', no_definitions: true }, opts: { instance_var: "faq"}) %>

<div class="landing page faq">
  <div class="container">
    <div class="title-container">
      <h1>Frequently Asked Questions</h1>
    </div>
    <div class="text-container">
      <div class="secondary-text">
        Important questions to which we have provided an answer.
      </div>
			<div class="buttons" style="padding:20px">
        <div style="display:flex;flex-direction: column;">
            <div style="display:flex;flex-direction:rows;margin:auto">
                <a href="/contact" target="_blank" class="btn btn-primary" style="margin:5px">
                  Ask A Question
                </a>
            </div>
        </div>
      </div>
  	</div>
	</div>
</div>

<% if @faq.present? %>
  <div class="contents" style="display:block; padding: 2em 0; min-height:0">
		<hr>
    <% @faq.each do |question| %>
      <button class="accordion secondary-text">
				<%= emoji_codes_to_img(question.fancy_title) %>
				<% question.tags.each do |tag| %>
        	<div class="tag" style="display:inline;margin:5px;padding:5px;background-color:white;border-radius:5px">
            <%= tag.name %>
          </div>
        <% end %>
			</button>
      <div class="panel">
        <%= ::LandingPages::Post.html(question.posts.first).html_safe %>
      </div>
			<hr>
    <% end %>
  </div>
<% end %>

<div class="btn btn-fixed btn-subscribe <% if current_user %>user<% else %>guest<% end %>" title="Subscribe">
  <% if current_user %>
    <img class="fixed-avatar" src="<%= current_user.avatar_template_url.gsub("{size}", "65") %>">
  <% else %>
    <div class="fixed-icon"><%= SvgSprite.raw_svg('user-circle') %></div>
  <% end %>
  <% unless mobile_view? %>
    <div class="fixed-label">Subscribe</div>
  <% end %>
</div>

<% if current_user && @category_user.present? %>
  <%= render partial: 'modal', locals: {
    title: "Subscribe",
    class: "subscribe",
    content: render(partial: "subscription_form", locals: {
      category_id: @category_user.category.id,
      subscribed: (@category_user &&
        @category_user.notification_level >= CategoryUser.notification_levels[:watching_first_post]
      )
    })
  } %>
<% end %>

<div class="custom-footer">
	<div>
	  <div class="flexbox">
	    <div class="ft-company-box">
	      <div class="ft-company-logo">
					<%- if SiteSetting.logo_dark.present? %>
						<img src="<%= SiteSetting.logo_dark %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- elsif SiteSetting.logo.present? %>
						<img src="<%= SiteSetting.logo %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- end %>
	      </div>
				<div class="ft-company-social">
					<a class="social-link linkedin" title="Follow us on LinkedIn" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-linkedin') %></a>
	        <a class="social-link facebook" title="Follow us on Facebook" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-facebook') %></a>
	        <a class="social-link twitter" title="Follow us on Twitter" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-twitter') %></a>
	        <a class="social-link youtube" title="Follow us on Youtube" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-youtube') %></a>
	      </div>
	    </div>
	    <div class="ft-legal-box">
	      <div class="legal-links">
					<div class="legal-links">
            <a class="small-link privacy-policy" target="" href="#">Privacy Policy</a>
            <a class="small-link user-agreement" target="" href="#">User Agreement</a>
            <a class="small-link about" target="" href="#">About</a>
        	</div>
	      </div>
	    </div>
			<div class="ft-sharewoods-box">
				<div style="text-align:center;color:grey;width:100%;font-size:18px;margin-top:20px">
					Powered by Sharewoods
				</div>
			</div>
	  </div>
	</div>
</div>
