<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Accéder au Canal
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Créer un compte
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="page landing">
  <div class="container">
    <div class="title-container">
      <% if !mobile_view? && @services.present? %>
        <div class="lottie title services"></div>
      <% else %>
        <h1>Questions Fréquemments Posées</h1>
      <% end %>
    </div>
    <div class="text-container">
      <div class="secondary-text">
        Voici la liste des questions qui nous sont fréquemment posés par des individus ou des institutions.
      </div>

			<div class="secondary-text">
				<h2>Comment devenir actionnaire d'ENERTIME ?</h2>
				<p>Pour acheter des actions, vous pouvez vous adresser à votre intermédiaire financier habituel : banque, gestionnaire de patrimoine. Vous pouvez également passer directement un ordre auprès d’un broker en ligne après avoir ouvert un compte. Les actions ENERTIME sont cotées sur Alternext Paris et le code ISIN est : FR0011915339 - ALENE.</p>
				<p>Une fois que vous avez acheté des actions, n'oubliez pas de vous inscrire au club des actionnaires Enertime.</p>
			</div>
			<div class="secondary-text">
				<h2>A quelle date se tiendra la prochaine Assemblée Générale ? </h2>
				Pouvez consulter tous les évènements à venir directement sur le <a href="/calendar" target="_blank">Calendrier Financier</a>
			</div>
			<div class="secondary-text">
				<h2>Comment participer à l'Assemblée Générale ?</h2>
				<p>Tout actionnaire, quel que soit le nombre d'actions qu'il possède, peut prendre part à l'Assemblée Générale ou s'y faire représenter par son conjoint ou par un autre actionnaire. Afin de pouvoir participer aux assemblées ou s'y faire représenter, les actionnaires doivent justifier au préalable de cette qualité sous forme d'inscription en compte trois jours au moins avant la date de l'Assemblée Générale.</p>
				<p>Un formulaire de vote par correspondance est adressé à tout actionnaire, à sa demande écrite faite à la Société par lettre recommandée avec accusé de réception, une telle demande devant être parvenue au siège social au plus tard six jours avant la date de réunion de l'Assemblée Générale.Le formulaire dûment rempli devra parvenir au siège social de la Société trois jours ouvrés au moins avant la date de réunion de l'Assemblée étant précisé qu'il n'est pas prévu pour les présentes Assemblées de possibilité de voter à distance ou de déposer des questions écrites auprès de la Société.</p>
				<p>L'actionnaire ayant voté par correspondance n'a plus la possibilité de participer directement à l'Assemblée ou de s'y faire représenter en vertu d'un pouvoir.</p>
			</div>
			<div class="secondary-text">
				<h2>Quelle est la différence entre un titre au porteur et au nominatif ?</h2>
				<p>Pour les actions au porteur, le nom du détenteur n'est pas communiqué à la société émettrice. Ces actions ne sont pas pour autant anonymes, puisqu'elles figurent sur le compte géré par l'intermédiaire financier.</p>
				<p>Au nominatif, le nom de l'actionnaire figure dans les registres de la société émettrice. Les titres au nominatif peuvent recouvrir 2 formes :</p>
				<ul>
					<li>le “Nominatif Administré”: la gestion du compte titres est confiée à un intermédiaire financier. Cette prestation est facturée par l'intermédiaire financier ;</li>
					<li>le “Nominatif Pur”: Les titres sont inscrits directement et uniquement dans le registre de la société émettrice. Elle assure la gestion administrative des actions (le plus fréquemment via son mandataire).</li>
				</ul>
				<p>L'inscription des actions sous la forme nominative doit être demandée par écrit auprès de votre intermédiaire financier.</p>
			</div>
			<div class="secondary-text">
				<h2>Les actions ENERTIME sont-elles éligibles au PEA-PME ?</h2>
				<p>Les actions ENERTIME peuvent pleinement être intégrées au sein des plans d'épargne en actions (PEA) et des comptes PEA “PME-ETI”, qui bénéficient des mêmes avantages fiscaux que le PEA classique.</p>
			</div>

    </div>
    <div class="buttons">
      <a href="#" class="btn btn-primary btn-cta">Poser une question</a>
    </div>
  </div>
</div>
