<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Accéder au Forum
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Créer un compte
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="page landing">
  <div class="container">
    <div class="title-container">
      <% if !mobile_view? && @services.present? %>
        <div class="lottie title services"></div>
      <% else %>
        <h1>Glossaire</h1>
      <% end %>
    </div>
    <div class="text-container">
      <div class="secondary-text">
        Voici la liste des termes techniques à connaître.
      </div>
    </div>
		<article class="topic-list-item" data-topic-id="227">
		  <div class="contents">
		    <a class="topic-image" href="<%= local_assigns[:topic_url] || local_assigns[:topic].url %>">
		      <img src="<%= local_assigns[:topic].image_url.present? ? local_assigns[:topic].image_url : "/plugins/discourse-landing-pages/images/image-placeholder.svg" %>">
		    </a>
		    <div class="topic-details">
		      <a class="topic-link" href="<%= local_assigns[:topic_url] || local_assigns[:topic].url %>">
		        <div class="header">
		          <h2 class="topic-title">
		            <%= emoji_codes_to_img(local_assigns[:topic].fancy_title) %>
		          </h2>
		        </div>
		        <section class="topic-excerpt">
		          <%= "#{local_assigns[:topic].excerpt.split[0...local_assigns[:topic_excerpt_length]].join(' ')} …" %>
		        </section>
		      </a>
		      <div class="topic-meta">
		        <%= render partial: "topic_byline", locals: {
		          topic: local_assigns[:topic],
		          user_profile_opts: {
		            include_avatar: local_assigns[:include_avatar],
		            avatar_size: local_assigns[:avatar_size],
		            profile_details: local_assigns[:profile_details]
		          }
		        } %>
		      </div>
		    </div>
		  </div>
		</article>
  </div>
</div>
