<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Accéder au Canal
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Créer un compte
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="page landing">
  <div class="container">
    <div class="title-container">
      <h1>Glossaire</h1>
    </div>
    <div class="text-container">
			<h2>AQUIFERES</h2>
      <div class="secondary-text">
				Un aquifère est une formation géologique ou une roche, suffisamment poreuse et/ou fissurée (qui peut stocker de l’eau) et perméable (où l’eau circule librement).
      </div>
			<h2>BIOMASSE</h2>
			<div class="secondary-text">
				Ressource organique d’origine végétale agricole ou forestière stockant de l’énergie chimique et pouvant la restituer sous forme de chaleur par combustion, par méthanisation ou par transformation chimique.
			</div>
			<h2>CHALEUR FATALE</h2>
			<div class="secondary-text">
				Chaleur générée lors du fonctionnement d’un procédé qui
n’en constitue pas la finalité première, et qui, de ce fait,
n’est pas nécessairement récupérée. Une partie de la
chaleur est inévitablement rejetée d’où l’appellation de
« chaleur fatale » ou « chaleur perdue ».
			</div>
			<h2>COGENERATION</h2>
			<div class="secondary-text">
				Production combinée d’électricité et de chaleur.
			</div>
			<h2>COURBES COMPOSITES</h2>
			<div class="secondary-text">
				Ensemble de deux courbes représentant d’une part le cumul des disponibilités en énergie d’un réseau d’échangeurs en fonction de la température, et d’autre part, celui des besoins en énergie.
			</div>
			<h2>COURBES COMPOSITES EXERGETIQUES</h2>
			<div class="secondary-text">
				Ensemble de deux courbes représentant d’une part le cumul des disponibilités en énergie d’un réseau d’échangeurs en fonction du facteur de Carnot et, d’autre part, celui des besoins en énergie.
			</div>
			<h2>DIAGRAMME TEMPERATURE-ENTHALPIE</h2>
			<div class="secondary-text">
				Diagramme représentant en abscisse les échanges d’énergie dans un échangeur de chaleur, la température étant en ordonnée.
			</div>
			<h2>EFFICACITE ENERGETIQUE</h2>
			<div class="secondary-text">
				L’efficacité énergétique est le rapport entre l’énergie
directement utilisée (dite énergie utile) et l’énergie
consommée (en général supérieure du fait des pertes).
			</div>
			<h2>ECHANGEUR THERMIQUE</h2>
			<div class="secondary-text">
				Les échangeurs de chaleur sont des appareils permettant
de transférer de la chaleur entre deux fluides à des
températures différentes. Dans la plupart des cas, les deux
fluides ne sont pas en contact, et le transfert s’effectue à
travers une surface d’échange. Au sein de la paroi
séparatrice, le mécanisme de transmission de la chaleur
est la conduction.
			</div>
    </div>
		<div class="text-container">
			<div class="buttons">
	      <a href="/t/glossaire" class="btn btn-primary btn-cta">Suggérer un mot</a>
	    </div>
		</div>
  </div>
</div>
