<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Accéder au Forum
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Créer un compte
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="landing page software">
  <div class="container">
    <div class="title-container">
      <h1>Le Règlement du Club</h1>
    </div>
		<div class="text-container">
      <div class="secondary-text" style="color:green; text-align:center;">
				...
      </div>
			<div class="buttons" style="padding:20px">
	      <a href="#" class="btn btn-primary btn-cta">Je Veux Rejoindre le Club</a>
	    </div>
  	</div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large club-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Le Respect d'Autrui</span>
      </div>
      <div class="secondary-text">
        ...
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large news-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Notre participation</span>
      </div>
      <div class="secondary-text">
        .<ul>
					<li>Nous sommes toujours à votre écoute.</li>
					<li>Nous n'avons pas d'obligation à vous répondre.</li>
					<li>Nous avons des contraintes dans les réponses que nous pouvons vous fournir selon la loi.</li>
				</ul>
      </div>
    </div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
			<div class="primary-text">
        <span>Donner des conseils</span>
      </div>
      <div class="secondary-text">
				...
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
			<div class="primary-text">
        <span>Partager des informations</span>
      </div>
      <div class="secondary-text">
				...
      </div>
    </div>
  </div>
</div>

<div class="page third">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
			<div class="primary-text">
        <span>La Modération</span>
      </div>
      <div class="secondary-text">
				...
      </div>
    </div>
  </div>
</div>
