<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Access the channels
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Create an account
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="landing page software">
  <div class="container">
    <div class="title-container">
      <h1>Club Rules</h1>
    </div>
		<div class="text-container">
      <div class="secondary-text" style="color:green; text-align:center;">
				...
      </div>
			<div class="buttons" style="padding:20px">
	      <a href="#" class="btn btn-primary btn-cta">I Want To Join the Club</a>
	    </div>
  	</div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large club-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Respect</span>
      </div>
      <div class="secondary-text">
        We ask that you respect fellow shareholders as well as our investor relations teams and partners.
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large news-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Our participation</span>
      </div>
      <div class="secondary-text">
        .<ul>
					<li>When it comes to our shareholder channel, we are always listening to what you have to say.</li>
					<li>However, per law, we cannot and do not have to answer all your questions.</li>
					<li>We will do our best to answer in timely manner and as best as possible.</li>
				</ul>
      </div>
    </div>
  </div>
</div>

<div class="page odd">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
			<div class="primary-text">
        <span>Giving advice</span>
      </div>
      <div class="secondary-text">
				We ask that you refrain from giving advice on selling or buying our shares or the shares of other companies. You may share information or advice on the analysis of our financial profile and we ask that you do so with honesty and truth.
      </div>
    </div>
  </div>
</div>

<div class="page">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
			<div class="primary-text">
        <span>Sharing Information</span>
      </div>
      <div class="secondary-text">
				We ask only that this information be based on true facts and not shrounded in rumor or based on lies.
      </div>
    </div>
  </div>
</div>

<div class="page third">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
			<div class="primary-text">
        <span>Moderating the Club</span>
      </div>
      <div class="secondary-text">
				By default, the channel moderates foul language and misbehavior. We assume total control over what can or cannot be said in respect of the above rules. Information which doesn't belong to our Club will be removed, users who do not adhere to our rules will be blocked writing privileges.
      </div>
    </div>
  </div>
</div>
