<header class="landing-header" style="display:block;">
  <div class="contents">
    <div class="primary">
      <div class="header-title">
        <a href="<%= path local_assigns[:root] || "/welcome" %>">
          <%- if local_assigns[:logo_url] || application_logo_url.present? %>
            <img src="<%= local_assigns[:logo_url] || application_logo_url %>" alt="<%= local_assigns[:title] || SiteSetting.title %>" id="site-logo">
          <%- else %>
            <h2 id='site-text-logo'><%= local_assigns[:title] || SiteSetting.title %></h2>
          <%- end %>
        </a>
      </div>
      <% unless mobile_view? %>
        <%- if @menu.present? %>
          <%= render partial: "menu" %>
        <%- end %>
      <% end %>
    </div>
    <% unless mobile_view? %>
      <%- if local_assigns[:notice].present? %>
        <a class="notice" href="<%= local_assigns[:notice][:href] %>">
          <label class="highlight"><%= local_assigns[:notice][:text] %></label>
        </a>
      <%- end %>
    <% end %>
    <div class="panel">
      <span class='header-buttons'>
        <% if mobile_view? %>
          <a class="mobile-toggle">
            <span class="menu-icon"><%= SvgSprite.raw_svg('bars') %></span>
            <span class="hide-menu-icon"><%= SvgSprite.raw_svg('times') %></span>
          </a>
        <% else %>
          <%- if current_user %>
            <a href="<%= path "/"%>" target="_blank" class='btn btn-primary forum-button'>
              Access the channels
            </a>
          <% else %>
            <a href="<%= path "/login"%>" target="_blank" class='btn btn-primary login-button'>
              Create an account
            </a>
          <%- end %>
        <% end %>
      </span>
    </div>
  </div>
</header>

<% if mobile_view? %>
  <%- if @menu.present? %>
    <div class="mobile-header">
      <%= render partial: "menu" %>
    </div>
  <%- end %>
<% end %>

<div class="landing page software">
  <div class="container">
    <div class="title-container">
      <h1>Shareholder Club</h1>
    </div>
		<div class="text-container">
      <div class="secondary-text" style="color:green; text-align:center;">
				The shareholders' club is a premium space for our loyal shareholders. It is a place of sharing and communicating where you will be rewarded for your loyalty and your participation.
      </div>
  	</div>
		<div class="buttons">
      <a href="#" class="btn btn-primary btn-cta">I Want To Join the Club</a>
    </div>
  </div>
</div>

<div class="page first">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large club-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Shareholder Rewards</span>
      </div>
      <div class="secondary-text">
        <ul>
					<li>Receive our quarterly shareholder newsletter</li>
					<li>Access our premium shareholder channel</li>
					<li>Access our exclusive offers</li>
				</ul>
      </div>
    </div>
    <div class="buttons">
      <a href="/rewards" class="btn btn-primary btn-cta">See your rewards</a>
    </div>
  </div>
</div>

<div class="page second">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large news-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="primary-text">
        <span>Club Rules</span>
      </div>
      <div class="secondary-text">
				A basic explanation of the most important rules to follow to guarantee the success of our Club.
      </div>
    </div>
    <div class="buttons">
      <a href="/rules" class="btn btn-primary btn-cta">Read The Rules</a>
    </div>
  </div>
</div>

<div class="page third">
  <div class="container">
    <!-- <div class="scene-container">
      <div class="scene large data-scene"></div>
    </div> -->
    <div class="text-container">
      <div class="secondary-text">
				A lot of information is available to the public directly on our public channels, but the shareholders' channel is reserved for them alone.
      </div>
    </div>
    <div class="buttons">
      <a href="/profile" class="btn btn-primary btn-cta">Join The Club</a>
    </div>
  </div>
</div>

<div class="custom-footer">
	<div>
	  <div class="flexbox">
	    <div class="ft-company-box">
	      <div class="ft-company-logo">
					<%- if SiteSetting.logo_dark.present? %>
						<img src="<%= SiteSetting.logo_dark %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- elsif SiteSetting.logo.present? %>
						<img src="<%= SiteSetting.logo %>" alt="<%= SiteSetting.title %>" id="site-logo">
					<%- end %>
	      </div>
				<div class="ft-company-social">
					<a class="social-link linkedin" title="Follow us on LinkedIn" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-linkedin') %></a>
	        <a class="social-link facebook" title="Follow us on Facebook" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-facebook') %></a>
	        <a class="social-link twitter" title="Follow us on Twitter" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-twitter') %></a>
	        <a class="social-link youtube" title="Follow us on Youtube" target="_blank" href="#"><%= SvgSprite.raw_svg('fab-youtube') %></a>
	      </div>
	    </div>
			<div class="ft-legal-box">
				<%- if @menu.present? %>
		      <ul class="menu">
		        <% @menu.items.each do |item| %>
		          <li class="primary-item">
		            <a href="<%= item[:href] %>" class="primary-item-link" style="color:#fff">
		              <label><%= item[:label] %></label>
		            </a>
		            <%- if item[:items] %>
		              <ul class="secondary-items">
		                <% item[:items].each do |item| %>
		                  <li class="item <%= 'coming-soon' if item[:coming_soon] %>">
		                    <a href="<%= item[:href] unless item[:coming_soon] %>" class="<%= item[:label].parameterize %>" style="color:#fff">
		                      <%= item[:label] %>
		                    </a>
		                  </li>
		                <% end %>
		              </ul>
		            <%- end %>
		          </li>
		        <% end %>
		      </ul>
		    <%- end %>
			</div>
	    <div class="ft-legal-box">
	      <div class="legal-links">
					<div class="legal-links">
            <a class="small-link privacy-policy" target="" href="#">Privacy Policy</a>
            <a class="small-link user-agreement" target="" href="#">User Agreement</a>
            <a class="small-link about" target="" href="#">About</a>
        	</div>
	      </div>
	    </div>
			<div class="ft-sharewoods-box">
				<div style="text-align:center;color:grey;width:100%;font-size:18px;margin-top:20px">
					Powered by Sharewoods
				</div>
			</div>
	  </div>
	</div>
</div>
